/* Basic CSS for the navigation bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    background-color: #f0f0ff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    font-style: Bold;
    font-family: 'Lucida Sans';
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #be0d0d;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  /* comportamento da cor e forma dos botões */
  button {
    padding: 5px 15px;
    background-color: #110eac;
    color: white;
    border: round;
    cursor: pointer;
  }
  /* altera cor conforme coloca-se o ponteiro do mouse */
  button:hover {
    background-color: #10c9c9;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 10px;
  }
  
  outresult {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;


  }

  #report,
  #result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
  #result {
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  #result img {
    width: 200px;
    height: 100px;
  }
  
