/*---------------------------------------------------
   GetulioHF - Travel Recommendation Web Application
----------------------------------------------------*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    background-color: #c2c2d3;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .logo img {
    height: 50px;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  nav ul li {
    display: inline;
    display: flex;
    justify-content: center;
    font-style: Bold;
    font-family: 'Lucida Sans';
    margin-right: 20px;
  }
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0f3ee7;
    font-weight: bold;
    transition: color 0.3s;
  }
  /* Hover stands for text reaction when mouse pointer is over text */
  a:hover {
    color: #cf3535;     /* Change text color */
    font-size: 1.2em;     /* Slightly enlarge text */
    cursor: pointer;      /* Show pointer cursor */
  }
  /* Form elements */
  body {
    font-family: Arial, sans-serif;
  }
  div {
    margin-bottom: 5px;
  }
  label {
    display: inline-block;
    width: 100px;
  }
  input[type="text"] {
    width: 300px;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #0f3ee7;
    border-radius: 25px;        /* rounded corners */
    outline: none;
    transition: all 0.3s ease;  /* smooth animation */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  button {
    padding: 5px 15px;
    font-size: 14px;
    background-color: #0f3ee7;
    color: white;
    border: round;
    cursor: pointer;
    box-shadow: 0 4px 6px;
  }
  button:hover {
    background-color: #10c9c9;
  }
  /* CSS report section */
  #report,
  #result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
  /* Tela de resultado (getulio) */
  #result {
    position: fixed;
    top: 100px;       
    right: 165px;    
    width: 300px;
    max-height: 70vh;
    overflow-y: auto;
    border: 1px #ffffff #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0);
    padding: 10px;
  }
  #result img {
    width: 280px;
    height: auto;
    border: 2px solid #0f3ee7;
    border-radius: 3px;
  }
  .resultBox {
    position: fixed;
    top: 100px;       
    right: 165px;    
    width: 300px;
    max-height: 70vh;
    overflow-y: auto;
    border: 1px #ffffff #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0);
    padding: 10px;
  }
  .resultBox img {
    position: fixed;
    top: 100px;       
    right: 165px;    
    width: 300px;
    max-height: 70vh;
    overflow-y: auto;
    border: 1px #ffffff #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0);
    padding: 10px;
  }
#templeresult img {
    width: 280px;
    height: auto;
    border: 2px solid #0f3ee7;
    border-radius: 3px;
  }
/* Modal definitions */
  .modal {
    display: none; 
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  .modal-content {
    background-color: #c0eac0;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgb(255, 255, 255);
    font-family: Cambria;
    font-size: larger;
  }
  .social-medias {
    position: fixed;       
    bottom: 20px;          
    left: 20px;            
    display: flex;
    flex-direction: column; 
    gap: 10px;             
  }
  .social-medias a {
    color: rgb(143, 177, 235);          
    background: #0d5362;      
    padding: 10px;
    border-radius: 50%;    
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
  }
  .social-medias a:hover {
    background: #0f3ee7;   
    color: #fff;
  }  